
.new-application-modal__title {
  font-size: 2em;
  text-align: center;
}

.new-application-modal__section {
  margin-bottom: 30px;
}

.new-application-modal__input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.new-application-modal__textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.new-application-modal__label {
  font-weight: bold;
}

.new-application-modal__btn, .modal__submit{
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #c4ea17;
  display: flex;
  align-items: center;
  color: rgb(6, 5, 5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.new-application-modal__btn:hover {
  background-color: #a3d614;
}

.answer-card {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}