.home-page {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.home-page__title {
  font-size: 2.5rem;
  margin: 0;
}

.home-page__subtitle {
  font-size: 1.25rem;
  color: #555;
  margin: 0 5px;
}